.modal {
  width: 100%;
  max-width: 532px;
  margin: auto;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  flex-direction: column;
  margin: 0 16px;
  cursor: default;
  font-size: 13px;

  overflow-y: auto;
}

.modal_exit {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 4px;
  font-size: 20px;
  cursor: pointer;
}
