.header {
  border: 1px solid #d1d1d1;
  background-color: white;
  border-radius: 16px;
  height: fit-content;
}

.tab {
  background: red;
}

.tab.active {
  background: greenyellow;
}

.active-link {
  background-color: red;
  color: seagreen;
}
