.link {
  border: 1px solid #707070;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.link:active,
.link svg:active {
  background: #d9e8ff;
}
