.link {
  border: 1px solid red;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
